<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for booking a fake flight, <%= @passenger.name %></h1>
    <p>
      You have successfully booked a flight,
      your name is: <%= @passenger.name %>.<br>
      your email address is: <%= @passenger.email %>.<br>

    </p>
    <p>Thanks for flying and have a great day!</p>
  </body>
</html>